*{
    font-family: 'Inter', 'sans-serif';
    letter-spacing: -.05em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}


.homeHeader{
    width: 100%;
    height: 100%;
    /* https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/ */
    background-image:  linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,0)), url(img/Desktop9.png);
    background-position: center;
    background-size: cover;
}

.aboutHeader{
    width: 100%;
    height: 100%;
    /* https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/ */
    background-image:  linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,0)), url(img/aboutus.png);
    background-position: center;
    background-size: cover;
}

.homeHeader .pageContent{
    height: 100%;
    
}

.column{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-right: 3em;
}



.pageContent, #contact, #checkout{
    padding-left: 8%;
    padding-right: 8%;

}

.sectionHeader{
    /* color: #fbae42; */
    width: 100%;
    border-bottom: 2px #fbae42 solid;
    padding-bottom: .3em;
    margin-bottom: .6em;
    margin-top: 2em;
}

.flexContainerAbout{
    display: flex;
    height: 41em;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 6.6em; 
    padding-bottom: 3em;
    
}

.flexContainerAbout h2{
    font-weight: 900;
    font-size: 3rem;

}


.flexContainerHome{
    display: flex;
    height: 75%;
    align-items: flex-end;
    flex-wrap: wrap;
    /* padding-bottom: em; */
    /* margin-bottom: 4em; */
}

.flexContainerHome1{
    display: flex;
    /* height: em; */
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 12em;
}


.flexElement1Home{
    flex-basis: 61%;
    color: white;
    
}

.flexElement1Home1{
    flex-basis: 59%;
    color: white;
}

.flexElementHome{
    flex-basis: 39%;
    color: white;
}

.flexElementHome1{
    flex-basis: 41%;
    color: white;
}


.flexElementHome1 p{
    letter-spacing: 0;
    margin-bottom: 2em;
}

.flexElementHome h2{
    padding-bottom: .2em;
}
.flexElementHome h3{
    padding-bottom: .2em;
}


.flexContainerLight{
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    color: black;
    align-items: center;
}


.flexContainerLight .flexElementHome{
    flex-basis: 40%;
    color: black;
    padding-right: 5em;

}

.flexContainerLight .flexElement2Home{
    flex-basis: 60%;
    display: flex;
    gap: 0;
    height: 100%;
    align-items: center;
}

.flexContainerLight .flexElement2Home img{
    flex-basis: 50%;
    max-height: 100%;
    max-width: fit-content;
    /* min-height: 100%; */
    /* min-width: auto; */
}

.flexContainerDark .pageContent{
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    background-color: #1b1b1b;

}

.flexContainerDark .pageContent .flexElementHome{
    flex-basis: 40%;
    color: white;

}

.flexContainerDark .pageContent .flexElement2Home{
    flex-basis: 60%;
    display: flex;
    gap: 0;
    height: 100%;
    align-items: center;
    padding-right: 5em;

}

.flexContainerDark .pageContent .flexElement2Home img{
    flex-basis: 50%;
    max-height: 100%;
    max-width: fit-content;

    /* min-height: 100%; */

}

.flexContainerIG{
    display: flex;
    max-height: 100%;
    flex-wrap: wrap;
    color: black;
    align-items: center;
    border-bottom: #939499 solid 1px;
    margin-top: 2.5em;
}

.flexContainerIG .flexElementHome{
    color: black;
    flex-basis: 50%;
}

.flexContainerIG .flexElementHome .yellowHighlight{
    color: #fbae42;
    font-size: 3em;
}


.igGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    flex-basis: 50%; 
    width: 10%;
    margin-top: 4em;
    margin-bottom: 4em;
}

.igImage img{
    /* height: auto; */
    width: 100%;
    
}


.footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    padding-top: 3em;
}

.footer .flexContainerFooter{
    display: flex;
    gap: 1.3em;
    height: 0em;
    margin-bottom: 3em;
}

.footer .flexContainerFooter img{
    width: 2em;
}

.footer .flexContainerFooter p{
    margin-top: 2em;
}

.headerImg{
    width: 100%;
    height: 30em;
}

.flexContainer{
    display: flex;
    color: black;
}

.flexElement{
    flex-basis: 50%;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    /* margin-bottom: 5px; */
}
  
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    /* font-style: italic; */
    /* width: 100%; */
}

  
h3 {
    font-size: 1.5rem;
    font-weight: 700;
    /* font-style: italic; */
}
  
h4 {
    font-weight: 600;
    font-size: 1.2rem;
}

.navbarDark{
    padding-top: 2em;
    height: 15%;
    display: flex;
    align-items: center;
    color: #f3f3f3;
}

.navbarLight a.active {
    /* background-color: #04AA6D; */
    color:#fbae42;
  }

  .navbarDark a.active {
    /* background-color: #04AA6D; */
    color:#fbae42;
  }
  
.navbarDark a.icon {
    font-size: 1.5em;
    display: none;
    margin-left: 1em;
    /* padding-bottom: .4em; */
}
.navbarLight{
    padding-top: 1em;
    height: 15%;
    display: flex;
    align-items: center;
    color: #1b1b1b;

}

.navbarLight a.icon {
    font-size: 1.5em;
    display: none;
    margin-left: 1em;
    /* padding-bottom: .4em; */
}

.navbar2{
    display: flex;
    align-items: center;
}

.logo{
    width: 5em;
    /* height: 10em; */
    cursor:pointer;
}

nav{
    flex: 1;
    text-align: right;
}

.cart{
    width: 1em;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 2em;
    font-size: 1.3em;

}

nav ul li a{
    text-decoration: none;
    font-weight: 400;
}

.navbarLight nav ul li a{
    text-decoration: none;
    font-weight: 400;
    color: #616161;
}

.navbarDark nav ul li a{
    text-decoration: none;
    font-weight: 400;
    color: #f3f3f3;
}

.navbar2 ul{
    padding-left: 0;
}

.navbar2 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
}
.navbar2 ul li button{
    background-color:#fbae42;
    border: 0;
    border-radius: .03em;
    font-size: 1.1em;
    font-weight: 500;
    padding: 1em 1em;
}

.gridContainer{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin-bottom: 4em;
    gap: 1.5em;

}

.gridElement{
    /* background-color: #ffee52; */
    padding: .7em 2em 2em 2em;
    border: 2px #fbae42 solid;
    border-radius: .4em;
}

.gridElement .navLink{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-weight: 400;
}

button{
    background-color: #fbae42;
    border:0;
    padding: .7em 1em .7em 1em;
    border-radius: .15em;
    outline: none;

    font-size: 1.2em;
}

.submitButton{
    border: 2px #fbae42 solid;
}

.resetButton{
    background-color: white;
    border: 2px #fbae42 solid;
}

fieldset{
    border: 0;
    border-radius: .4em;
    background-color: rgb(231, 231, 231);
    padding-top: 1em;
    padding-bottom: 1em;
}
fieldset input{
    border: 0;
    background-color:  rgb(231, 231, 231);
    outline: none;
    width: 100%;
    font-size: 1.1em;
}

img{
    width: 100px;
}

.colours{
    display: flex;

}

.colours div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.color1{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #fbae42;
}
.color2{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #939499;
}
.color3{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #1b1b1b;
}
.color4{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #f3f3f3;
}
.color5{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #ffffff;
    border: 1px solid black;
}

.headings {
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed grey;
    padding-top: 1em;
    padding-bottom: 1em;
  }

.headingsID {

    border: 0px none;

}
  
.header {
    margin-top: -.2em;
    margin-bottom: -.2em;
}
  
.headingsDescr {

    font-style: italic;
}

.navbarShow{
    display: flex;
    align-items: center;
    padding-top: .8em;
    padding-bottom: .8em;

}

.menu{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 2em;
}

/* .listing{

} */

.listing img{
    width: 100%;
    object-fit: cover;
    border-radius: .4em;
    transition: .15s;

}

.price{
    font-weight: 700;
}

.productListing{
    display: flex;
    align-items: center;
    margin-top: 5rem;

}

.productListing .header{
    margin-bottom: 0em;

}

.productListing .price{
    font-weight: 600;
    font-size: 2em;

}

.productListing .image{
    flex-basis: 50%;

}

.productListing .image img{
    width: 100%;
    border-radius: .4em;

}

.productDetails{
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productMods{
    display: flex;
    margin-bottom: 2em;
}

.productMods div{
    margin-right: 2em;
}

.productMods select{
    background-color: white;
    padding: .7em 1em .7em 0.5em;
    border: 2px #fbae42 solid;
    border-radius: .5em;
}

.productListing button{
    background-color:#fbae42;
    border: 0;
    border-radius: .8em;
    font-size: 1.1em;
    font-weight: 500;
    padding: 1em 2.5em;

    
}

.productListing h4{
margin-bottom: 0.3em;
}

.contactForm{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contactMessage{
    margin-left: 2em;
    flex-basis: 50%;

}

.contactInput{
    display: flex;
    flex-direction: column;
}

.contactInput label{
    margin-bottom: 1em;
}

.contactInput input{
    background-color: rgb(236, 236, 236);
    border: 2px gray solid;
    padding: 1em 1em 1em 0.5em;
    border-radius: .4em;
    outline: none;

    font-size: 1.1em;
    width: 100%;
}

.contactInput button{
    background-color: #fbae42;
    border:0;
    padding: 1em 1em 1em 0.5em;
    border-radius: .4em;
    outline: none;

    font-size: 1.1em;
    /* width: 100%; */
}

.contactInfo{
    border-radius: .6em;
    border: #fbae42 3px solid;
    padding: 25% 1em 1em 10%;
    color: white;
    background-color: #1b1b1b;
    
}

.contactInfo h2{
    margin-top: 0;
    margin-bottom: 4em;

}


nav ul li a:hover{
    text-decoration: underline;
    color: #fbae42;
    /* font-weight: 600; */
}

nav ul a:hover{
    /* text-decoration: underline; */
    color: #fbae42;
    /* font-weight: 600; */
}
.gridElement .navLink:hover, .yellowHighlight:hover{
    text-decoration: underline;
    color: #fbae42;
    /* font-weight: 600; */
}

.contactInput input:focus{
    border: 3px #fbae42 solid;
}

.listing img:hover{
    opacity: .5;
}

button:hover{
    background-color: #ffc36e;
    cursor: pointer;
}

fieldset:focus-within{
    border: 2px #fbae42 solid;
}

 /* img:hover{
    opacity: .5;
} */

.map{
    margin-left: auto;
    /* width: auto; */
    width: 60%;

    
}

.map img{
    border-radius: 1rem;
    width: 100%;
    max-height: 80%;

}




/*Checkout Cart*/
/*Source: https://www.youtube.com/watch?v=-gEV3znqu8E */

/*Variable*/
:root {
    /* Colors */
      --onyx:         hsl(0, 0%, 25%);
      --azure:        hsl(219, 77%, 60%);
      --white:        hsl(0, 0%, 100%);
      --platinum:     hsl(0, 0%, 91%);
      --gainsboro:    hsl(0, 0%, 90%);
      --red-salsa:    hsl(0, 77%, 60%);
      --dim-gray:     hsl(0, 0%, 39%);
      --davys-gray:   hsl(0, 0%, 30%);
      --spanish-gray: hsl(0, 0%, 62%);
      --quick-silver: hsl(0, 0%, 64%);
      --orange:       hsl(35, 100%, 62%);
      /* Typography */
      --fs-28: 28px;
      --fs-24: 24px;
      --fs-18: 18px;
      --fs-15: 15px;
      --fs-14: 14px;
      --fw-5: 500;
      --fw-6: 600;
      --fw-7: 700;
      /* Others */
      --px: 60px;
      --radius: 5px;
    }
    
    /*-Resett*/
    *, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    html { font-family: 'Source Sans 3', sans-serif; }
    
    a {
      color: inherit;
      text-decoration: none;
    }
    
    button {
      border: none;
      /* background: none; */
      font: inherit;
      cursor: pointer;
    }
    
    ion-icon, span { display: inline-block; }

    nav ion-icon{
        font-size: 2rem;
    }
    
    label, img { display: block; }
    
    input {
      font: inherit;
      width: 100%;
      border: none;
    }
    
    input:focus { outline: 2px solid var(--azure); }
    
    /* Remove number input up & down button*/
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
      appearance:         none;
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Custom scrollbar style */
    ::-webkit-scrollbar { width: 8px; }
    
    ::-webkit-scrollbar-track { background: transparent; }
    
    ::-webkit-scrollbar-thumb {
      background: hsl(0, 0%, 80%);
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
    
    
    /* MAIN STYLE */
    
    /* main container */
    .container {
      max-width: 1440px;
      min-height: 100vh;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
    
    .heading {
      font-size: var(--fs-28);
      font-weight: var(--fw-6);
      color: var(--onyx);
      border-bottom: 2px solid var(--orange);
      margin-top: 1em;
      padding: 20px var(--px);
      display:     flex;
      align-items: center;
      gap: 20px;
    }
   
    
    .heading ion-icon { font-size: 40px; }
    
    .item-flex {
      display: flex;
      flex-grow: 1;
    }
    
    /* checkout section style */
    .checkout {
      width: 70%;
      /* padding: 40px var(--px); */
      /* background: var(--white); */
      padding-right: 2em;
      border-right: 1px solid var(--gainsboro);
    }
    
    .section-heading {
      color: var(--onyx);
      margin-bottom: 30px;
      font-size: var(--fs-24);
      font-weight: var(--fw-5);
    }
    
    .payment-form { margin-bottom: 40px; }
    
    .payment-method {
      display:     flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 40px;
    }
    
    .payment-method .method {
      border: 1px solid var(--quick-silver);
      border-radius: var(--radius);
      width: 50%;
      display:     flex;
      align-items: center;
      padding: 15px 30px;
      gap: 20px;
      cursor: pointer;
    }
    
    .payment-method .selected { border-color: var(--orange); }
    
    .payment-method .method ion-icon { font-size: 20px; }
    
    .payment-method .method .checkmark {
      margin-left: auto;
      color: var(--orange);
    }
    
    .payment-method .method .fill { color: var(--orange); }
    
    .label-default {
      padding-left: 10px;
      margin-bottom: 5px;
      font-size: var(--fs-14);
      color: var(--spanish-gray);
    }
    
    .input-default {
      background: var(--platinum);
      border-radius: var(--radius);
      color: var(--davys-gray);
    }
    
    .payment-form input {
      padding: 10px 15px;
      font-size: var(--fs-18);
      font-weight: var(--fw-5);
    }
    
    .cardholder-name, .address,
    .card-number { margin-bottom: 20px; }
    
    .card-number input,
    .cvv input { letter-spacing: 3px; }
    
    .input-flex {
      display:     flex;
      align-items: center;
      gap: 30px;
    }
    
    .input-flex .expire-date,
    .input-flex .cvv { width: 50%; }
    
    .expire-date .input-flex {
      color: var(--spanish-gray);
      gap: 13px;
    }
    
    .expire-date .input-flex input { text-align: center; }
    
    .btn { border-radius: var(--radius); }
    
    .btn:active { transform: scale(0.99); }
    
    .btn:focus {
      color: var(--white);
      background: var(--orange);
      outline: 2px solid var(--orange);
      outline-offset: 2px;
    }
    
    .btn-primary {
      background: var(--onyx);
      font-weight: var(--fw-5);
      color: var(--white);
      padding: 13px 45px;
    }
    
    .btn-primary b { margin-right: 10px; }
    
    
    /* cart section style */
    
    .cart {
      width: 40%;
      display:         flex;
      flex-direction:  column;
      justify-content: flex-end;
    }
    
    .cart-item-box {
      padding: 40px var(--px);
      margin-bottom: auto;
    }
    
    .product-card:not(:last-child) { margin-bottom: 20px; }
    
    .product-card .card {
      position: relative;
      display:     flex;
      align-items: flex-start;
      gap: 20px;
    }
    
    .card .product-img { border-radius: var(--radius); }
    
    .card .detail .product-name {
      font-weight: var(--fw-6);
      font-size: var(--fs-15);
      color: var(--dim-gray);
      margin-bottom: 10px;
    }
    
    .card .detail .wrapper {
      display: flex;
      gap: 20px;
    }
    
    .product-qty {
      display:     flex;
      align-items: center;
      gap: 10px;
    }
    
    .product-qty button {
      background: var(--platinum);
      width:  60px;
      height: 40px;
      display:         flex;
      justify-content: center;
      align-items:     center;
    }
    
    .product-qty button:active,
    .product-close-btn:active ion-icon { transform: scale(0.95); }
    
    .product-qty button ion-icon {
      --ionicon-stroke-width: 60px;
      font-size: 10px;
    }


    .discount-token {
      padding: 40px var(--px);
      border-top:    1px solid var(--gainsboro);
      border-bottom: 1px solid var(--gainsboro);
    }
    
    .wrapper-flex {
      display:     flex;
      align-items: center;
      gap: 30px;
    }
    
    .wrapper-flex input {
      padding: 12px 15px;
      font-weight: var(--fw-6);
      letter-spacing: 2px;
    }
    
    .btn-outline {
      padding: 10px 25px;
      border: 1px solid var(--orange);
      color: white;
    }
    
    .btn-outline:hover {
      background: var(--orange);
      color: var(--white);
    }
    
    .amount { padding: 40px var(--px); }
    
    .amount > div {
      display:         flex;
      justify-content: space-between;
    }
    
    .amount > div:not(:last-child) { margin-bottom: 10px; }
    
    .amount .total {
      font-size: var(--fs-18);
      font-weight: var(--fw-7);
      color: var(--onyx);
    }

    
/* RESPONSIVE */
@media (max-width: 1200px) {
    .item-flex { 
        flex-direction: column-reverse; 
    }
    /* checkout section responsive */
    .checkout {
      width: 100%;
      border-right: none;
    }
    .btn-primary { 
        width: 100%; 
    }
    /* cart section responsive*/
    .cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      border-bottom: 1px solid var(--gainsboro);
    }
    .cart .wrapper { 
        margin-top: auto; 
    }
    .cart .cart-item-box {
      border-right: 1px solid var(--gainsboro);
      margin-bottom: 0;
    }
    .discount-token { 
        border-top: none; 
    }

    .flexContainerAbout {
        margin-bottom: 6em;
    }
    .column{
        flex-direction: row;
        margin-right: 0;
        margin-bottom: 2em;
    }

    .map{
        margin-left: auto;
        /* width: auto; */
        width: 100%;
    }
    
    .map img{
        border-radius: 1rem;
        width: 100%;
        max-height: 80%;
    
    }
  }

  
@media screen and (max-width: 768px) {
    :root { --px: 40px; }
    .cart { grid-template-columns: 1fr; }
    .discount-token { border-top: 1px solid var(--gainsboro); }
    .wrapper-flex { gap: 20px; }



    .flexElementHome1, .flexElement1Home1{
        flex-basis: 100%;
    }

    .navbarDark li:not(:first-child) {
        display: none;
    }

    .navbarDark a.icon {
      float: right;
      display: block;
    }

    .navbarLight li:not(:first-child) {
        display: none;
    }

    .navbarLight a.icon {
      float: right;
      display: block;
    }
  }


  @media screen and (max-width: 768px) {
    .navbarDark.responsive {
        position: relative;
    }
    
    .navbarDark.responsive ul a.icon {
      position: absolute;
      right: 0em;
      top: 2.6em;
    }
    
    .homeHeader .navbarDark.responsive ul a.icon {
      position: absolute;
      right: 0em;
      top: 2.9em;
    }

    .navbarDark.responsive ul{
        margin-top: 2em;
    }

    .homeHeader .navbarDark.responsive ul{
        margin-top: 8.8em;
    }

    .navbarDark.responsive ul li{
      float: none;
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-top: .4em;
      margin-right: 2.1em;
    }

    .navbarLight.responsive {
        position: relative;
    }
    
    .navbarLight.responsive ul a.icon {
      position: absolute;
      right: 0em;
      top: 2.6em;
    }
    

    .navbarLight.responsive ul{
        margin-top: 3em;
    }

    .navbarLight.responsive ul li{
      float: none;
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-top: .4em;
      margin-right: 2.1em;
    }

  }
  

  
@media (max-width: 567px) {
    :root { --px: 20px; }
    .payment-method,
    .input-flex {
      flex-direction: column;
      gap: 20px;
    }
    .payment-method .method { width: 100%; }
    .input-flex .expire-date,
    .input-flex .cvv { width: 100%; }
    .expire-date .input-flex { flex-direction: row; }

    .flexContainerLight, .flexContainerDark .pageContent{
        padding-top: 2em;
        padding-bottom: 2em;
    }



    .flexContainerLight .flexElementHome, .flexContainerLight .flexElementHome2{
        flex-basis: 100%;
    }

    
    .flexContainerLight .flexElementHome, .flexContainerLight .flexElementHome2{
        flex-basis: 100%;
    }

    .flexContainerDark .pageContent .flexElement2Home, .flexContainerDark .pageContent .flexElementHome{
        flex-basis: 100%
    }

    .flexContainerIG{
        text-align: center;
    }
    
    .flexContainerIG .flexElementHome{
        flex-basis: 100%;
        align-items: center;
    }

    .igGrid{
        flex-basis: 100%;
    }

    .contactForm{
        grid-template-columns: 100%;
    }

    .contactInfo{
        padding: 2em 2em 2em 2em;

    }

    .contactForm .contactMessage{
        margin-top: 2em;
        margin-left: 0;
    }

    .flexContainerAbout .flexElementHome{
        flex-basis: 100%;
    
    }

    .flexContainerAbout {
        margin-bottom: 3em;
    }
  }

/* citations */
#citations p {
    color:#4f4f4f;
    text-align: left;
    padding: 8px 25px;
  }
  
  #citations a {
    color: #517894;
  }
  
  #citations a:hover {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
  }
  
  #citations a:focus {
    background-color: #517894;
    color: white;
    text-decoration: none;
  }
  
  #citations strong {
    color: #1e1e1e;
  }
/* end of citations */

#idea h3{
    margin-bottom:1em;
}

#idea p{
    letter-spacing: 0em;;
}