*{
    font-family: 'Inter';
    letter-spacing: -.05em;
    box-sizing: border-box;
}

body{
    padding-left: 8%;
    padding-right: 8%;
}

.sectionHeader{
    /* color: #fbae42; */
    width: 100%;
    border-bottom: 2px #fbae42 solid;
    padding-bottom: .3em;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    /* margin-bottom: 5px; */
}
  
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    /* font-style: italic; */
    /* width: 100%; */
}

  
h3 {
    font-size: 1.5rem;
    font-weight: 700;
    /* font-style: italic; */
}
  
h4 {
    font-weight: 600;
}

.navbar1{
    padding-top: 1em;
    height: 15%;
    display: flex;
    align-items: center;

}

.navbar2{
    display: flex;
    align-items: center;
}

.logo{
    width: 5em;
    /* height: 10em; */
    cursor:pointer;
}

nav{
    flex: 1;
    text-align: right;
}

.cart{
    width: 1em;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 2em;
    font-size: 1.3em;

}

nav ul li a{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-weight: 400;
}

.navbar2 ul{
    padding-left: 0;
}

.navbar2 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 1em;

    margin-bottom: 1em;
}
.navbar2 ul li button{
    background-color:#fbae42;
    border: 0;
    border-radius: .1em;
    font-size: 1.1em;
    font-weight: 500;
    padding: .6em .6em;
}

.gridContainer{
    display: grid;
    grid-template-columns:33.333% 33.3333% 33.3333%;
    margin-bottom: 4em;

}

.gridElement{
    border: 1px #fbae42 solid;
    padding: 2em
}

img{
    width: 100px;
}

.headings {
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed grey;
    padding-top: 1em;
    padding-bottom: 1em;
  }

.headingsID {

    border: 0px none;

}
  
.header {
    margin-top: -.2em;
    margin-bottom: -.2em;
}
  
.headingsDescr {

    font-style: italic;
}

.navbarShow{
    display: flex;
    align-items: center;
    padding-top: .8em;
    padding-bottom: .8em;

    border-top: 1px #fbae42 solid;
    border-bottom:  1px #fbae42 solid;
}

.menu{
    display: grid;
    grid-template-columns:33.333% 33.3333% 33.3333%;
}

.listing{

}

.listing img{
    width: 85%;
    
    object-fit: cover;
}

.price{
    font-weight: 700;
}

.productListing{
    display: flex;

}

.productListing .header{
    margin-bottom: 0em;

}

.productListing .price{
    font-weight: 600;
    font-size: 2em;

}

.productListing .image{
    flex-basis: 50%;

}

.productListing .image img{
    width: 100%;

}

.productDetails{
    margin-left: 4em;
}

.productMods{
    display: flex;
    margin-bottom: 2em;
}

.productMods div{
    margin-right: 2em;
}

.productMods select{
    background-color: white;
    padding: .7em 1em .7em 0.5em;
    border: 2px #fbae42 solid;
    border-radius: .5em;
}