*{
    font-family: 'Inter', 'sans-serif';
    letter-spacing: -.05em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}

.homeHeader{
    width: 100%;
    height: 100vh;
    /* https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/ */
    background-image:  linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,0)), url(/img/Desktop\ -\ 9.png);
    background-position: center;
    background-size: cover;
}

.pageContent{
    padding-left: 8%;
    padding-right: 8%;
    
}

.sectionHeader{
    /* color: #fbae42; */
    width: 100%;
    border-bottom: 2px #fbae42 solid;
    padding-bottom: .3em;
    margin-bottom: .6em;
    margin-top: 2em;
}

.flexContainerHome{
    display: flex;
    height: 32em;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 4.6em;
    
}

.flexElement1Home{
    flex-basis: 60%;
    color: white;
    
}


.flexElementHome{
    flex-basis: 40%;
    color: white;
}


.flexElementHome p{
    letter-spacing: 0;
    padding-bottom: 1em;

}

.flexElementHome h2{
    padding-bottom: .2em;
}

.flexContainerLight{
    display: flex;
    height: 32em;
    flex-wrap: wrap;
    color: black;
    align-items: center;
}

.flexContainerLight .flexElementHome{
    flex-basis: 40%;
    color: black;
    padding-right: 5em;

}

.flexContainerLight .flexElement2Home{
    flex-basis: 60%;
    display: flex;
    gap: 0;
    height: 100%;
    align-items: center;
}

.flexContainerLight .flexElement2Home img{
    flex-basis: 50%;
}

.flexContainerDark .pageContent{
    display: flex;
    height: 25em;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    background-color: #1b1b1b;
}

.flexContainerDark .pageContent .flexElementHome{
    flex-basis: 40%;
    color: white;

}

.flexContainerDark .pageContent .flexElement2Home{
    flex-basis: 60%;
    display: flex;
    gap: 0;
    height: 100%;
    align-items: center;
    padding-right: 5em;

}

.flexContainerDark .pageContent .flexElement2Home img{
    flex-basis: 50%;
}

.flexContainerIG{
    display: flex;
    height: 32em;
    flex-wrap: wrap;
    color: black;
    align-items: center;

    border-bottom: #939499 solid 1px;
}

.flexContainerIG .flexElementHome{
    color: black;
    flex-basis: 30%;
}

.flexContainerIG .flexElementHome .yellowHighlight{
    color: #fbae42;
    font-size: 2rem;
}

.igGrid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin-bottom: 4em;
    gap: .5em;
    flex-basis: 70%;
}

.igGrid a{
    height: auto;

}

.footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    padding-top: 3em;
}

.footer .flexContainerHome{
    display: flex;
    gap: 1.3em;
    height: 0em;

}

.footer .flexContainerHome img{
    width: 2em;
}

.footer .flexContainerHome p{
    margin-top: 2em;
}

.headerImg{
    width: 100%;
    height: 30em;
}

.flexContainer{
    display: flex;
    color: black;
}

.flexElement{
    flex-basis: 50%;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    /* margin-bottom: 5px; */
}
  
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    /* font-style: italic; */
    /* width: 100%; */
}

  
h3 {
    font-size: 1.5rem;
    font-weight: 700;
    /* font-style: italic; */
}
  
h4 {
    font-weight: 600;
}

.navbarDark{
    padding-top: 1em;
    height: 15%;
    display: flex;
    align-items: center;
    color: #f3f3f3;

}


.navbarLight{
    padding-top: 1em;
    height: 15%;
    display: flex;
    align-items: center;
    color: #1b1b1b;

}

.navbar2{
    display: flex;
    align-items: center;
}

.logo{
    width: 5em;
    /* height: 10em; */
    cursor:pointer;
}

nav{
    flex: 1;
    text-align: right;
}

.cart{
    width: 1em;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 2em;
    font-size: 1.3em;

}

nav ul li a{
    text-decoration: none;
    font-weight: 400;
}

.navbarLight nav ul li a{
    text-decoration: none;
    font-weight: 400;
    color: #616161;
}

.navbarDark nav ul li a{
    text-decoration: none;
    font-weight: 400;
    color: #f3f3f3;
}

.navbar2 ul{
    padding-left: 0;
}

.navbar2 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 1em;

    margin-bottom: 1em;
}
.navbar2 ul li button{
    background-color:#fbae42;
    border: 0;
    border-radius: .03em;
    font-size: 1.1em;
    font-weight: 500;
    padding: 1em 1em;
}

.gridContainer{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin-bottom: 4em;
    gap: 1.5em;

}

.gridElement{
    /* background-color: #ffee52; */
    padding: .7em 2em 2em 2em;
    border: 2px #fbae42 solid;
    border-radius: .4em;
}

.gridElement .navLink{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-weight: 400;
}

button{
    background-color: #fbae42;
    border:0;
    padding: .7em 1em .7em 1em;
    border-radius: .15em;
    outline: none;

    font-size: 1.2em;
}

.submitButton{
    border: 2px #fbae42 solid;
}

.resetButton{
    background-color: white;
    border: 2px #fbae42 solid;
}

fieldset{
    border: 0;
    border-radius: .4em;
    background-color: rgb(231, 231, 231);
    padding-top: 1em;
    padding-bottom: 1em;
}
fieldset input{
    border: 0;
    background-color:  rgb(231, 231, 231);
    outline: none;
    width: 100%;
    font-size: 1.1em;
}

img{
    width: 100px;
}

.colours{
    display: flex;

}

.colours div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.color1{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #fbae42;
}
.color2{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #939499;
}
.color3{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #1b1b1b;
}
.color4{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #f3f3f3;
}
.color5{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: #ffffff;
    border: 1px solid black;
}

.headings {
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed grey;
    padding-top: 1em;
    padding-bottom: 1em;
  }

.headingsID {

    border: 0px none;

}
  
.header {
    margin-top: -.2em;
    margin-bottom: -.2em;
}
  
.headingsDescr {

    font-style: italic;
}

.navbarShow{
    display: flex;
    align-items: center;
    padding-top: .8em;
    padding-bottom: .8em;

}

.menu{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 2em;
}

/* .listing{

} */

.listing img{
    width: 100%;
    object-fit: cover;
    border-radius: .4em;
    transition: .15s;

}

.price{
    font-weight: 700;
}

.productListing{
    display: flex;
    align-items: center;

}

.productListing .header{
    margin-bottom: 0em;

}

.productListing .price{
    font-weight: 600;
    font-size: 2em;

}

.productListing .image{
    flex-basis: 50%;

}

.productListing .image img{
    width: 100%;
    border-radius: .4em;

}

.productDetails{
    margin-left: 4em;
}

.productMods{
    display: flex;
    margin-bottom: 2em;
}

.productMods div{
    margin-right: 2em;
}

.productMods select{
    background-color: white;
    padding: .7em 1em .7em 0.5em;
    border: 2px #fbae42 solid;
    border-radius: .5em;
}

.productListing button{
    background-color:#fbae42;
    border: 0;
    border-radius: .8em;
    font-size: 1.1em;
    font-weight: 500;
    padding: 1em 2.5em;

    
}

.productListing h4{
margin-bottom: 0.3em;
}

.contactForm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contactMessage{
    margin-left: 2em;
    flex-basis: 50%;

}

.contactInput{
    display: flex;
    flex-direction: column;
}

.contactInput label{
    margin-bottom: 1em;
}

.contactInput input{
    background-color: rgb(255, 246, 207);
    border: 2px gray solid;
    padding: 1em 1em 1em 0.5em;
    border-radius: .4em;
    outline: none;

    font-size: 1.2em;
    width: 100%;
}

.contactInput button{
    background-color: #fbae42;
    border:0;
    padding: 1em 1em 1em 0.5em;
    border-radius: .4em;
    outline: none;

    font-size: 1.2em;
    /* width: 100%; */
}

.contactInfo{
    border-radius: .6em;
    border: #fbae42 3px dashed;
    padding: 25% 1em 1em 10%;
    color: white;
    background-color: #1b1b1b;
    
}

.contactInfo h2{
    margin-top: 0;

}


nav ul li a:hover{
    text-decoration: underline;
    color: #fbae42;
    font-weight: 600;
}
.gridElement .navLink:hover{
    text-decoration: underline;
    color: #fbae42;
    font-weight: 600;
}

.contactInput input:focus{
    border: 3px #fbae42 solid;
}

.listing img:hover{
    opacity: .5;
}

button:hover{
    opacity: 0.7;
    cursor: pointer;
}

fieldset:focus-within{
    border: 2px #fbae42 solid;
}

 img:hover{
    opacity: .5;
}





/*Checkout Cart*/
/*Source: https://www.youtube.com/watch?v=-gEV3znqu8E */

/*Variable*/
:root {
    /* Colors */
      --onyx:         hsl(0, 0%, 25%);
      --azure:        hsl(219, 77%, 60%);
      --white:        hsl(0, 0%, 100%);
      --platinum:     hsl(0, 0%, 91%);
      --gainsboro:    hsl(0, 0%, 90%);
      --red-salsa:    hsl(0, 77%, 60%);
      --dim-gray:     hsl(0, 0%, 39%);
      --davys-gray:   hsl(0, 0%, 30%);
      --spanish-gray: hsl(0, 0%, 62%);
      --quick-silver: hsl(0, 0%, 64%);
      --orange:       hsl(35, 100%, 62%);
      /* Typography */
      --fs-28: 28px;
      --fs-24: 24px;
      --fs-18: 18px;
      --fs-15: 15px;
      --fs-14: 14px;
      --fw-5: 500;
      --fw-6: 600;
      --fw-7: 700;
      /* Others */
      --px: 60px;
      --radius: 5px;
    }
    
    /*-Resett*/
    *, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    html { font-family: 'Source Sans 3', sans-serif; }
    
    a {
      color: inherit;
      text-decoration: none;
    }
    
    button {
      border: none;
      background: none;
      font: inherit;
      cursor: pointer;
    }
    
    ion-icon, span { display: inline-block; }
    
    label, img { display: block; }
    
    input {
      font: inherit;
      width: 100%;
      border: none;
    }
    
    input:focus { outline: 2px solid var(--azure); }
    
    /* Remove number input up & down button*/
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
      appearance:         none;
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Custom scrollbar style */
    ::-webkit-scrollbar { width: 8px; }
    
    ::-webkit-scrollbar-track { background: transparent; }
    
    ::-webkit-scrollbar-thumb {
      background: hsl(0, 0%, 80%);
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
    
    
    /* MAIN STYLE */
    
    /* main container */
    .container {
      max-width: 1440px;
      min-height: 100vh;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
    
    .heading {
      font-size: var(--fs-28);
      font-weight: var(--fw-6);
      color: var(--onyx);
      border-bottom: 1px solid var(--gainsboro);
      padding: 20px var(--px);
      display:     flex;
      align-items: center;
      gap: 20px;
    }
    
    .heading ion-icon { font-size: 40px; }
    
    .item-flex {
      display: flex;
      flex-grow: 1;
    }
    
    /* checkout section style */
    .checkout {
      width: 70%;
      padding: 40px var(--px);
      background: var(--white);
      border-right: 1px solid var(--gainsboro);
    }
    
    .section-heading {
      color: var(--onyx);
      margin-bottom: 30px;
      font-size: var(--fs-24);
      font-weight: var(--fw-5);
    }
    
    .payment-form { margin-bottom: 40px; }
    
    .payment-method {
      display:     flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 40px;
    }
    
    .payment-method .method {
      border: 1px solid var(--quick-silver);
      border-radius: var(--radius);
      width: 50%;
      display:     flex;
      align-items: center;
      padding: 15px 30px;
      gap: 20px;
      cursor: pointer;
    }
    
    .payment-method .selected { border-color: var(--orange); }
    
    .payment-method .method ion-icon { font-size: 20px; }
    
    .payment-method .method .checkmark {
      margin-left: auto;
      color: var(--orange);
    }
    
    .payment-method .method .fill { color: var(--orange); }
    
    .label-default {
      padding-left: 10px;
      margin-bottom: 5px;
      font-size: var(--fs-14);
      color: var(--spanish-gray);
    }
    
    .input-default {
      background: var(--platinum);
      border-radius: var(--radius);
      color: var(--davys-gray);
    }
    
    .payment-form input {
      padding: 10px 15px;
      font-size: var(--fs-18);
      font-weight: var(--fw-5);
    }
    
    .cardholder-name, .address,
    .card-number { margin-bottom: 20px; }
    
    .card-number input,
    .cvv input { letter-spacing: 3px; }
    
    .input-flex {
      display:     flex;
      align-items: center;
      gap: 30px;
    }
    
    .input-flex .expire-date,
    .input-flex .cvv { width: 50%; }
    
    .expire-date .input-flex {
      color: var(--spanish-gray);
      gap: 13px;
    }
    
    .expire-date .input-flex input { text-align: center; }
    
    .btn { border-radius: var(--radius); }
    
    .btn:active { transform: scale(0.99); }
    
    .btn:focus {
      color: var(--white);
      background: var(--orange);
      outline: 2px solid var(--orange);
      outline-offset: 2px;
    }
    
    .btn-primary {
      background: var(--onyx);
      font-weight: var(--fw-5);
      color: var(--white);
      padding: 13px 45px;
    }
    
    .btn-primary b { margin-right: 10px; }
    
    
    /* cart section style */
    
    .cart {
      width: 40%;
      display:         flex;
      flex-direction:  column;
      justify-content: flex-end;
    }
    
    .cart-item-box {
      padding: 40px var(--px);
      margin-bottom: auto;
    }
    
    .product-card:not(:last-child) { margin-bottom: 20px; }
    
    .product-card .card {
      position: relative;
      display:     flex;
      align-items: flex-start;
      gap: 20px;
    }
    
    .card .product-img { border-radius: var(--radius); }
    
    .card .detail .product-name {
      font-weight: var(--fw-6);
      font-size: var(--fs-15);
      color: var(--dim-gray);
      margin-bottom: 10px;
    }
    
    .card .detail .wrapper {
      display: flex;
      gap: 20px;
    }
    
    .product-qty {
      display:     flex;
      align-items: center;
      gap: 10px;
    }
    
    .product-qty button {
      background: var(--platinum);
      width:  60px;
      height: 40px;
      display:         flex;
      justify-content: center;
      align-items:     center;
    }
    
    .product-qty button:active,
    .product-close-btn:active ion-icon { transform: scale(0.95); }
    
    .product-qty button ion-icon {
      --ionicon-stroke-width: 60px;
      font-size: 10px;
    }


    .discount-token {
      padding: 40px var(--px);
      border-top:    1px solid var(--gainsboro);
      border-bottom: 1px solid var(--gainsboro);
    }
    
    .wrapper-flex {
      display:     flex;
      align-items: center;
      gap: 30px;
    }
    
    .wrapper-flex input {
      padding: 12px 15px;
      font-weight: var(--fw-6);
      letter-spacing: 2px;
    }
    
    .btn-outline {
      padding: 10px 25px;
      border: 1px solid var(--orange);
      color: var(--orange);
    }
    
    .btn-outline:hover {
      background: var(--orange);
      color: var(--white);
    }
    
    .amount { padding: 40px var(--px); }
    
    .amount > div {
      display:         flex;
      justify-content: space-between;
    }
    
    .amount > div:not(:last-child) { margin-bottom: 10px; }
    
    .amount .total {
      font-size: var(--fs-18);
      font-weight: var(--fw-7);
      color: var(--onyx);
    }

    
/* RESPONSIVE */
@media (max-width: 1200px) {
    .item-flex { flex-direction: column-reverse; }
    /* checkout section responsive */
    .checkout {
      width: 100%;
      border-right: none;
    }
    .btn-primary { width: 100%; }
    /* cart section responsive*/
    .cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      border-bottom: 1px solid var(--gainsboro);
    }
    .cart .wrapper { margin-top: auto; }
    .cart .cart-item-box {
      border-right: 1px solid var(--gainsboro);
      margin-bottom: 0;
    }
    .discount-token { border-top: none; }
  }
  
@media (max-width: 768px) {
    :root { --px: 40px; }
    .cart { grid-template-columns: 1fr; }
    .discount-token { border-top: 1px solid var(--gainsboro); }
    .wrapper-flex { gap: 20px; }
  }
  
@media (max-width: 567px) {
    :root { --px: 20px; }
    .payment-method,
    .input-flex {
      flex-direction: column;
      gap: 20px;
    }
    .payment-method .method { width: 100%; }
    .input-flex .expire-date,
    .input-flex .cvv { width: 100%; }
    .expire-date .input-flex { flex-direction: row; }
  }

